{% from 'macros.j2' import write_prefix_list %}
{% from 'macros.j2' import write_prefix_list_entry %}
{% from 'macros.j2' import write_prefixset_list %}
# ---------------------------------------------------------
# FILTERS

policy-definitions:
  - name: default-export
    statements:
      - conditions:
          match-prefix-set:
            prefix-set: "generic-martians"
            match-set-options: "any"
        actions:
          route-disposition : "reject-route"
      - conditions:
          bgp-conditions:
            match-community-set:
              community-set: accept-route-for-as-community
        actions:
          route-disposition: accept-route
      - conditions:
          bgp-conditions:
            match-community-set:
              community-set: generic-reject
        actions:
          route-disposition: reject-route

  - name: default-import
    statements:
      - conditions:
          match-prefix-set:
            prefix-set: "generic-martians"
            match-set-options: "any"
        actions:
          route-disposition : "reject-route"
      - conditions:
          bgp-conditions:
            match-large-community-set:
              large-community-set: prepend-large-1x
        actions:
          bgp-actions:
            set-as-path-prepend:
              as: last-as
              repeat-n: 1
      - conditions:
          bgp-conditions:
            match-large-community-set:
              large-community-set: prepend-large-2x
        actions:
          bgp-actions:
            set-as-path-prepend:
              as: last-as
              repeat-n: 2
      - conditions:
          bgp-conditions:
            match-large-community-set:
              large-community-set: prepend-large-3x
        actions:
          bgp-actions:
            set-as-path-prepend:
              as: last-as
              repeat-n: 3

{% set asns = [] %}
{% for client in clients|sort(attribute="asn") %}
{% if client.asn not in asns %}
{{ 	asns.append(client.asn) if client.asn != None }}
{% endif %}
{% endfor %}
{% for asn in asns %}
  - name: as{{ asn }}-import
    statements:
      - conditions:
          bgp-conditions:
            match-as-path-set:
              as-path-set: "as{{ asn }}-first"
              match-set-options: invert
        actions:
          route-disposition: "reject-route"
{% endfor %}

-------------

defined-sets:
  prefix-sets:
    - prefix-set-name: generic-martians
      prefix-list:
{{      write_prefixset_list(bogons) }}
{% for as_set_bundle_id in irrdb_info|sort %}
{%    set as_set_bundle = irrdb_info[as_set_bundle_id] %}
{%    if as_set_bundle.prefixes|length == 0 %}
      # no prefixes found for {{ as_set_bundle.name }}
{%    else %}
    - prefix-set-name: "AS-SET-{{ as_set_bundle.name }}_PREFIXES"
      prefix-list:
{{ write_prefix_list(as_set_bundle.prefixes, True) }}
{%    endif %}
{% endfor %}

  bgp-defined-sets:
    as-path-sets:
{% for as_set_bundle_id in irrdb_info|sort %}
{%    set as_set_bundle = irrdb_info[as_set_bundle_id] %}
      # {{ as_set_bundle.descr }}, used_by {{ as_set_bundle.used_by|sort|join(", ") }}
{%    if as_set_bundle.asns|length == 0 %}
      # no origin ASNs found for {{ as_set_bundle.name }}
{%    else %}
      - as-path-set-name: "AS-SET-{{ as_set_bundle.name }}_ASNs"
        as-path-list: {{ as_set_bundle.asns|sort }}
{% endif %}
{% endfor %}








{#
    community-sets:
#### STANDARD GLOBAL COMMUNITIES
      - community-set-name: do-not-announce-to-any
        community-list:
          - 0:52005
      - community-set-name: std-prepend-once-to-any
        community-list:
          - 65501:$RS_AS
      - community-set-name: std-prepend-twice-to-any
        community-list:
          - 65502:$RS_AS
      - community-set-name: std-prepend-thrice-to-any
        community-list:
          - 65503:$RS_AS
#### STANDARD PEER SPECIFIC COMMUNITIES
      - community-set-name: accept-route-for-as-community-as$PEER_AS 
        community-list:
          - $RS_AS:$PEER_AS
      - community-set-name: deny-route-for-as-community-as$PEER_AS
        community-list:
          - 0:$PEER_AS
      - community-set-name: std-prepend-once-to-as$PEER_AS
        community-list:
          - 65511:$PEER_AS
      - community-set-name: std-prepend-twice-to-as$PEER_AS
        community-list:
          - 65512:$PEER_AS
      - community-set-name: std-prepend-thrice-to-as$PEER_AS
        community-list:
          - 65513:$PEER_AS
    large-community-sets:
#### LARGE GLOBAL COMMUNITIES
      - large-community-set-name: "lrg-do-not-announce-to-any"
        large-community-list: ["$RS_AS:0:0"]
      - large-community-set-name: "prepend-large-1x-to-any"
        large-community-list: ["52005:101:0"]
      - large-community-set-name: "prepend-large-2x-to-any"
        large-community-list: ["52005:102:0"]
      - large-community-set-name: "prepend-large-3x-to-any"
        large-community-list: ["52005:103:0"]
#### LARGE PEER SPECIFIC COMMUNITIES, LARGE 
      - large-community-set-name: "lrg-announce-to-peer"
        large-community-list: ["$RS_AS:1:$PEER_AS"]
      - large-community-set-name: "prepend-large-1x-to-as$PEER_AS"
        large-community-list: ["52005:101:$PEER_AS"]
      - large-community-set-name: "prepend-large-2x-to-as$PEER_AS"
        large-community-list: ["52005:102:$PEER_AS"]
      - large-community-set-name: "prepend-large-3x-to-as$PEER_AS"
        large-community-list: ["52005:103:$PEER_AS"]
#}
