{% from 'macros.j2' import write_community_conditions %} 

{% call write_community_conditions("prepend_once_to_any",None,true) %}
bgp-actions:
  set-as-path-prepend:
    as: "last-as"
    repeat-n: 1
{% endcall %}
{% call write_community_conditions("prepend_twice_to_any",None,true) %}
bgp-actions:
  set-as-path-prepend:
    as: "last-as"
    repeat-n: 2
{% endcall %}
{% call write_community_conditions("prepend_thrice_to_any",None,true) %}
bgp-actions:
  set-as-path-prepend:
    as: "last-as"
    repeat-n: 3
{% endcall %}